.elementContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 110px;
  padding-bottom: 110px;
  background-color: rgba(0,0,0,0.2);
  width: 100%;
}

.elementContent:hover {
  background-color: rgba(0,0,0,0.1);
}

.logo img {
  width: auto;
  height: 36px;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 36px;
  color: #FFFFFF;
  text-shadow: 0 2px 4px rgba(0,0,0,0.25);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.elementDescription {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 28px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.35);
  text-align: center;
}

@media (min-width: 751px) {
  .elementDescription {
    width: 60%;
  }
}

@media (max-width: 750px) {
  .elementDescription {
    width: 85%;
  }
}
