.elementContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: rgba(0,0,0,0.35);
  transition: background-color 0.25s;
  width: 100%;
}

.elementContent:hover {
  background-color: rgba(255,255,255,0.02);
}

.logo img {
  width: auto;
}

.title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  text-shadow: 0 2px 4px rgba(0,0,0,0.25);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 13px;
  padding-left: 15px;
  padding-right: 15px;
}

.keywords {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  opacity: 0.9;
  text-shadow: 0 2px 4px rgba(0,0,0,0.3);
  text-align: center;
  padding-bottom: 20px;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.companyButton {
  background: rgba(255, 255, 255, 0.957);
  color: rgba(0, 0, 0, 0.904);
  border-style: hidden;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  transition: opacity 0.25s;
}

.companyButton:hover {
  background: #00c2ba;
  color: whitesmoke;
}

@media (min-width: 751px) {
  .elementContent {
    padding-top: 7.0vw;
    padding-bottom: 7.0vw;
  }
  .logo img {
    height: 2.9vw;
  }
  .title {
    font-size: 2.1vw;
  }
  .keywords {
    width: 30%;
    font-size: 1.3vw;
    line-height: 2.1vw;
  }
  .companyButton {
    border-radius: 1.1vw;
    padding-left: 1.1vw;
    padding-right: 1.1vw;
    height: 2.3vw;
    font-size: 0.8vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
  }
}

@media (max-width: 750px) {
  .elementContent {
    padding-top: 13.0vw;
    padding-bottom: 13.0vw;
  }
  .logo img {
    height: 9.2vw;
  }
  .title {
    font-size: 7.2vw;
  }
  .keywords {
    width: 75%;
    font-size: 4.0vw;
    line-height: 6.0vw;
  }
  .companyButton {
    border-radius: 3.5vw;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    height: 7.0vw;
    font-size: 2.4vw;
    margin-left: 1.4vw;
    margin-right: 1.4vw;
  }
}
