.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 110px;
  padding-bottom: 110px;
}

.logo img {
  width: auto;
  height: 36px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.25);
}

.title {
  font-family: AvenirNext-Bold;
  font-size: 36px;
  color: #FFFFFF;
  text-shadow: 0 2px 4px rgba(0,0,0,0.25);
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

.description {
  font-family: AvenirNext-Regular;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 25px;
  text-shadow: 0 2px 4px rgba(0,0,0,0.25);
  text-align: center;
}

@media (min-width: 701px) {
  .description {
    width: 60%;
  }
}

@media (max-width: 700px) {
  .description {
    width: 85%;
  }
}
