.aboutContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  padding-top: 110px;
  padding-bottom: 110px;
  background: #2C2C2C;
  background-image: url('../../assets/patterns/about.png');
  background-repeat: repeat;
}

.aboutDescription {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 35px;
  text-align: center;
  padding-bottom: 35px;
}

@media (min-width: 751px) {
  .aboutDescription {
    width: 50%;
  }
}

@media (max-width: 750px) {
  .aboutDescription {
    width: 75%;
  }
}

a:link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: underline;
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
  transition: opacity 0.25s;
}

a:active {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: underline;
}
