.aboutContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background: #2C2C2C;
  background-image: url('../../assets/patterns/about.png');
  background-repeat: repeat;
}

.aboutDescription {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 35px;
}

@media (min-width: 751px) {
  .aboutContent {
    padding-top: 7.0vw;
    padding-bottom: 7.0vw;
  }
  .aboutDescription {
    width: 50%;
    font-size: 1.4vw;
    line-height: 2.5vw;
  }
}

@media (max-width: 750px) {
  .aboutContent {
    padding-top: 13.0vw;
    padding-bottom: 13.0vw;
  }
  .aboutDescription {
    width: 65%;
    font-size: 3.6vw;
    line-height: 7.0vw;
  }
}
