.contactContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background: #FFFFFF;
  background-image: url('../../assets/patterns/contact.png');
  background-repeat: repeat;
}

.emailButton {
  background: #0d0d0d;
  border-style: hidden;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  opacity: 1.0;
  transition: background 0.25s;
}

.emailButton:hover {
  color: #a3a3a3;
}

.emailButton:focus {
  outline: none;
}

@media (max-width: 1280px) {
  .contactContent {
    padding-top: 12.0vw;
    padding-bottom: 12.0vw;
  }
  .emailButton {
    border-radius: 8.0vw;
    padding-left: 12.0vw;
    padding-right: 12.0vw;
    height: 15.0vw;
    font-size: 4.5vw;
  }
}

@media (min-width: 1281px) {
  .contactContent {
    padding-top: 6.0vw;
    padding-bottom: 6.0vw;
  }
  .emailButton {
    border-radius: 2.5vw;
    padding-left: 4.0vw;
    padding-right: 4.0vw;
    height: 4.5vw;
    font-size: 1.3vw;
  }
}
