body, ul {
  margin: 0;
  padding: 0;
}

a:link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: underline;
  opacity: 0.7;
  filter: alpha(opacity=70); /* For IE8 and earlier */
  transition: opacity 0.25s;
}

a:active {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #FFFFFF;
  background-color: transparent;
  text-decoration: underline;
}

:focus {
    outline: none !important;
}