.horizontalContainer {
  display: flex;
  flex-direction: row;
  width: 160px;
  justify-content: space-between;
}

.linkButton {
  height: 36px;
  width: auto;
  opacity: 1.0;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

.linkButton:hover {
  opacity: 0.7;
  filter: alpha(opacity=50); /* For IE8 and earlier */
}
