.introContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: rgba(0,0,0,0.35);
  transition: background-color 0.25s;
  width: 100%;
}

.introContent:hover {
  background-color: rgba(0,0,0,0.9);
}

.introDescription {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  color: #FFFFFF;
  text-align: center;
}

@media (min-width: 751px) {
  .introContent {
    padding-top: 7.0vw;
    padding-bottom: 7.0vw;
  }
  .introDescription {
    width: 50%;
    font-size: 1.4vw;
    line-height: 2.5vw;
  }
}

@media (max-width: 750px) {
  .introContent {
    padding-top: 13.0vw;
    padding-bottom: 13.0vw;
  }
  .introDescription {
    width: 65%;
    font-size: 4.4vw;
    line-height: 7.9vw;
  }
}
